---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
data:
  grafana.ini: |
    [users]
    allow_sign_up = false
    auto_assign_org = true
    auto_assign_org_role = Editor
    [auth.jwt]
    jwk_set_url = https://whitestar.cloudflareaccess.com/cdn-cgi/access/certs
    enabled = true
    header_name = Cf-Access-Jwt-Assertion
    username_claim = email
    email_claim = email
    auto_sign_up = true
    skip_org_role_sync = true
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provisioning
data:
  dashboards.yaml: |-
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 30
        options:
          path: /var/lib/grafana/dashboards
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  datasources.yaml: |-
    apiVersion: 1
    datasources:
      - name: Kube Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.monitoring.svc:8080
        jsonData:
          manageAlerts: true
          prometheusType: Prometheus
          cacheLevel: 'Medium'
          incrementalQuerying: true
          incrementalQueryOverlapWindow: 2m
          disableRecordingRules: true
      - name: NAS Prometheus
        type: prometheus
        access: proxy
        isDefault: true
        url: http://woodlandpark.brickyard.whitestar.systems:9090
        jsonData:
          manageAlerts: false
          prometheusType: Prometheus
          cacheLevel: 'Medium'
          incrementalQuerying: true
          incrementalQueryOverlapWindow: 5m
          disableRecordingRules: true
      - name: AlertManager
        type: alertmanager
        access: proxy
        url: http://alertmanager.monitoring.svc:8080
        jsonData:
          implementation: prometheus
          handleGrafanaManagedAlerts: true
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.loki.svc:3100
        jsonData:
          maxLines: 1000
