---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: inject-headers
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: https
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: blog-ext
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web-ext
    traefik.ingress.kubernetes.io/router.middlewares: blog-inject-headers@kubernetescrd
spec:
  rules:
    - host: blog.auth-ing.k3s.brickyard.whitestar.systems
      http: &rules
        paths:
          - backend:
              service:
                name: ghost
                port:
                  number: 2368
            path: /
            pathType: Prefix
    - host: blog.tompaulus.com
      http: *rules
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: blog-tailscale
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
        - blog
  rules:
    - http:
        paths:
          - backend:
              service:
                name: ghost
                port:
                  number: 2368
            path: /
            pathType: Prefix
