---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
  namespace: argocd
data:
  url: https://argocd.tailbbff3.ts.net/
  resource.customizations: |
    extensions/Ingress:
      health.lua: |
        hs = {}
        hs.status = "Healthy"
        return hs
  oidc.config: |
    name: Zitadel
    issuer: https://auth.whitestar.systems
    clientID: 257470643216384018@devops
    clientSecret: $dex.zitadel.clientSecret
    requestedScopes:
      - openid
      - profile
      - email
      - groups
    logoutURL: https://auth.whitestar.systems/oidc/v1/end_session
  admin.enabled: 'false'
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cmd-params-cm
  namespace: argocd
data:
  server.insecure: 'true'
---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  itemPath: vaults/K3S/items/argocd
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-rbac-cm
data:
  scopes: '[groups]'
  policy.csv: |
    g, argocd_administrators, role:admin
    g, argocd_users, role:readonly
  policy.default: ''
