---
name: pint
on:
  push:
    branches: [main]
    paths: [_alerts/**]
  pull_request:
    branches: [main]
    paths: [_alerts/**]
permissions:
  pull-requests: write
jobs:
  pint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Run pint
        uses: prymitive/pint-action@a72871ac2d9dd42bd2e40d3a9ee5409dec3bc16c # v1.101.0
        with:
          token: ${{ github.token }}
        env:
          WORKDIR: _alerts/
          PINT_BRICKYARD_CLIENT_ID: ${{ secrets.PINT_BRICKYARD_CLIENT_ID }}
          PINT_BRICKYARD_CLIENT_SECRET: ${{ secrets.PINT_BRICKYARD_CLIENT_SECRET }}
