---
name: pint
on:
  push:
    branches: [main]
    paths: [_alerts/**]
  pull_request:
    branches: [main]
    paths: [_alerts/**]
permissions:
  pull-requests: write
jobs:
  pint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
      - name: Run pint
        uses: prymitive/pint-action@ae372186c7090f375edb0371e2adf4a45084fd22 # v1.99.0
        with:
          token: ${{ github.token }}
        env:
          WORKDIR: _alerts/
          PINT_BRICKYARD_CLIENT_ID: ${{ secrets.PINT_BRICKYARD_CLIENT_ID }}
          PINT_BRICKYARD_CLIENT_SECRET: ${{ secrets.PINT_BRICKYARD_CLIENT_SECRET }}
