---
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches: [main, master]
    paths: [.github/workflows/semgrep.yml]
  schedule:
    # random HH:MM to avoid a load spike on GitHub Actions at 00:00
    - cron: 43 2 * * *
name: Semgrep
jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-24.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep@sha256:3baabc2ec3fc217903ea716aa21b9faec944879012774312807f68b029666285
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: semgrep ci
